// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: auto;
    padding: 5px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.btn-default {
  background-color: transparent;
  border-color: #ccc;
  color: #333;
}

.navbar-default {
  background-color: #FFCD35;
  border-color: #e7e7e7;
  font-size: 14px;
}

body {
  padding-top: 70px;
  background-color: #e8e8e8;
  color: #666;
  direction: ltr;
  font-family: 'Roboto','Droid Sans',arial,sans-serif;
  font-size: 15px;
  margin: 0;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
}

#sidebar {
  top: 50px;
  background-color: #fff;
  bottom: 0;
  padding: 0px;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.2);
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
  left: 0;
  margin-left: -291px;
  overflow-y: auto;
  position: fixed;
  -webkit-transition-duration: .436s;
  transition-duration: .436s;
  -webkit-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  width: 250px;
  z-index: 701;
}

a {
  color: #777;
  text-decoration: none;
}

.line {
  width: 100%;
  height: 1px;
  background: rgba(19, 18, 18, 0.29);
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner-views {
  border-style: none;
  overflow: auto;
  background-color: transparent;
  position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
}

.note {
  width: 240px;
  height: auto;
  min-height: 250px;
  position: relative;
  background-color: white;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  background-clip: padding-box;
  overflow: hidden;
}

.listview {
  width: 600px;
  height: 80%;
  display: block !important;
  margin: 15px auto;
}

.note-title {
  padding: 15px 15px 0px 15px;
}

.note-title-input, .note-data-input {
  font-size: 14px;
  height: 30px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto Slab','Times New Roman','serif';
  width: 100%;
  border: none;
  border-color: transparent;
  outline: none;
}

.note-title-input {
  font-weight: bold;
  font-size: 17px
}

div[data-placeholder]:not([data-div-placeholder-content])::before {
  color: rgba(0, 0, 0, 0.4);
  content: attr(data-placeholder);
}

.note-data {
  font-size: 14px;
  min-height: 30px;
  padding: 12px 15px 0px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0,0,0,0.8);
  font-family: 'Roboto Slab','Times New Roman','serif';
  outline: none;
  word-wrap: break-word;
 }

.true {
  text-decoration: line-through;
}

.add-note-outer {
  display: table;
  margin: auto;
  min-height: 33px;
  padding-top: 6px;
  padding-bottom: 20px;
  position: relative
}

.add-note {
  width: 600px;
  display: inline-block;
  margin: 6px;
  opacity: 1;
  position: relative;
  -webkit-transition-duration: .218s;
  transition-duration: .218s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  vertical-align: top
}

.add-note input[type='text'] {
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: thin;
  padding: 3px;
  width: 40%;
}

.add-note-inner {
  display: block;
  margin: auto;
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
  box-shadow: 0 2px 1px rgba(0,0,0,0.08);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  position: relative;
  -webkit-transition-duration: .218s;
  transition-duration: .218s;
  -webkit-transition-property: background,opacity,-webkit-transform;
  transition-property: background,opacity,transform;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  width: 100%;
}

.add-note-footer {
  height: auto;
  display: block;
  margin-top: 8px;
  color: rgba(0,0,0,0.4);
  font-size: 12px;
  position: relative;
  -webkit-transition-duration: .218s;
  transition-duration: .218s;
  -webkit-transition-property: background-color,box-shadow;
  transition-property: background-color,box-shadow;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.add-note-footer-toolbar {
  padding-left: 15px;
  line-height: 2.5em;
}

.add-note-footer-inner {
  height: 40px;
  opacity: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  padding: 4px 0;
  -webkit-transition-duration: .218s;
  transition-duration: .218s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.note-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 3px;
  margin-top: 20px;
  padding: 0px 10px 0px;
}

.add-note-button {
  width: 72px;
  height: 28px;
  position: absolute;
  right: 15px;
  top: 5px;
  -webkit-user-select: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 2px;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  line-height: 27px;
  outline: 0;
  padding: 0 8px;
  color: #444;
}

.note-body {
  margin: 3px;
}

.note-tile-title {
  padding-top: 10px;
  cursor: default;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 10px 0 10px;
  color: rgba(0,0,0,0.8);
  font-family: 'Roboto Slab','Times New Roman',serif;
  outline: none;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

.note-tile-data {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  cursor: default;
  padding: 12px 15px 15px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0,0,0,0.8);
  font-family: 'Roboto Slab','Times New Roman',serif;
  outline: none;
  word-wrap: break-word;
}

.note-interface-pull-right {
  margin-left: 434px;
}

.modal-lg {
  width: 626px;
}

.white {
  background-color: white;
}

.blue {
  background-color: #92E4C9;
}

.green {
  background-color: #C9EA5D;
}

.orange {
  background-color: #FFC94E;
}

.yellow {
  background-color: #F1F14E;
}

select {
  -moz-appearance: none;
  background: none repeat scroll 0 0 #f8f8f8;
  border: medium none;
  border-radius: 4px;
  box-shadow: none;
  color: #888;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: medium none;
  padding: 0;
}

img {
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

