// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: auto;
    padding: 5px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.btn-default {
  background-color: transparent;
  border-color: #ccc;
  color: #333;
}

.navbar-default {
  background-color: #FFCD35;
  border-color: #e7e7e7;
  font-size: 14px;
}

body {
  padding-top: 70px;
  background-color: #e8e8e8;
  color: #666;
  direction: ltr;
  font-family: 'Roboto','Droid Sans',arial,sans-serif;
  font-size: 15px;
  margin: 0;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
}

#sidebar {
  top: 50px;
  background-color: #fff;
  bottom: 0;
  padding: 0px;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.2);
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
  left: 0;
  margin-left: -291px;
  overflow-y: auto;
  position: fixed;
  -webkit-transition-duration: .436s;
  transition-duration: .436s;
  -webkit-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  width: 250px;
  z-index: 701;
}

a {
  color: #777;
  text-decoration: none;
}

.line {
  width: 100%;
  height: 1px;
  background: rgba(19, 18, 18, 0.29);
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner-views {
  border-style: none;
  overflow: auto;
  background-color: transparent;
  position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
}

.note {
  width: 240px;
  height: auto;
  min-height: 250px;
  position: relative;
  background-color: white;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  background-clip: padding-box;
  overflow: hidden;
}

.listview {
  width: 600px;
  height: 80%;
  display: block !important;
  margin: 15px auto;
}

.note-title {
  padding: 15px 15px 0px 15px;
}

.note-title-input, .note-data-input {
  font-size: 14px;
  height: 30px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto Slab','Times New Roman','serif';
  width: 100%;
  border: none;
  border-color: transparent;
  outline: none;
}

.note-title-input {
  font-weight: bold;
  font-size: 17px
}

div[data-placeholder]:not([data-div-placeholder-content])::before {
  color: rgba(0, 0, 0, 0.4);
  content: attr(data-placeholder);
}

.note-data {
  font-size: 14px;
  min-height: 30px;
  padding: 12px 15px 0px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0,0,0,0.8);
  font-family: 'Roboto Slab','Times New Roman','serif';
  outline: none;
  word-wrap: break-word;
 }

.true {
  text-decoration: line-through;
}

.add-note-outer {
  display: table;
  margin: auto;
  min-height: 33px;
  padding-top: 6px;
  padding-bottom: 20px;
  position: relative
}

.add-note {
  width: 600px;
  display: inline-block;
  margin: 6px;
  opacity: 1;
  position: relative;
  -webkit-transition-duration: .218s;
  transition-duration: .218s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  vertical-align: top;
  background-color: #ffffff;
}

.add-note input[type='text'] {
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: thin;
  padding: 3px;
  width: 40%;
}

.add-note-inner {
  display: block;
  margin: auto;
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
  box-shadow: 0 2px 1px rgba(0,0,0,0.08);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  position: relative;
  -webkit-transition-duration: .218s;
  transition-duration: .218s;
  -webkit-transition-property: background,opacity,-webkit-transform;
  transition-property: background,opacity,transform;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  width: 100%;
}

.add-note-footer {
  height: auto;
  display: block;
  margin-top: 8px;
  color: rgba(0,0,0,0.4);
  font-size: 12px;
  position: relative;
  -webkit-transition-duration: .218s;
  transition-duration: .218s;
  -webkit-transition-property: background-color,box-shadow;
  transition-property: background-color,box-shadow;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.add-note-footer-toolbar {
  padding-left: 15px;
  line-height: 2.5em;
}

.add-note-footer-inner {
  height: 40px;
  opacity: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  padding: 4px 0;
  -webkit-transition-duration: .218s;
  transition-duration: .218s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.note-tile-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  opacity: 0;
  background-color: rgba(136, 131, 120, 0.58);
  height: 40px;
}

div.note:hover div.note-tile-footer {
  opacity: 1;
  -webkit-transition-duration: .218s;
  transition-duration: .318s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.add-note-button {
  width: 72px;
  height: 28px;
  position: absolute;
  right: 15px;
  top: 5px;
  -webkit-user-select: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 2px;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  line-height: 27px;
  outline: 0;
  padding: 0 8px;
  color: #444;
}

.note-body {
  margin: 3px;
}

.note-tile-title {
  padding-top: 10px;
  cursor: default;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 10px 0 10px;
  color: rgba(0,0,0,0.8);
  font-family: 'Roboto Slab','Times New Roman',serif;
  outline: none;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

.note-tile-data {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  cursor: default;
  padding: 12px 15px 15px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0,0,0,0.8);
  font-family: 'Roboto Slab','Times New Roman',serif;
  outline: none;
  word-wrap: break-word;
}

.note-interface-pull-right {
  margin-left: 434px;
}

.modal-lg {
  width: 626px;
}

select {
  -moz-appearance: none;
  background: none repeat scroll 0 0 #f8f8f8;
  border: medium none;
  border-radius: 4px;
  box-shadow: none;
  color: #888;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: medium none;
  padding: 0;
}

img {
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

div {
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 12px;
}

.target {
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
/*** Colorpicker ***/

div.palette {
  width: auto;
  margin: 20px 2px;
  position: absolute;
  border: 1px solid;
  background-color: white;
  box-shadow: 0 1px 2px #ccc;
  opacity: 0;
}

div.palette p {
  margin: 0 0 0;
  height: 25px;
}

.palette span {
  display: inline-block;
  margin: 0 2px;
  width: 15px;
  height: 15px;
  border: 1px solid;
  cursor: pointer;
  box-shadow: 0 1px 2px #ccc;
}

.highlights span {
  border-radius: 4px;
}

.grapefruit {
  background-color: #ED5565;
  border-color: #DA4453;
  color: #DA4453;
}

.bittersweet {
  background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
}

.sunflower {
  background-color: #FFCE54;
  border-color: #F6BB42;
  color: #F6BB42;
}

.grass {
  background-color: #A0D468;
  border-color: #8CC152;
  color: #8CC152;
}

.mint {
  background-color: #48CFAD;
  border-color: #37BC9B;
  color: #37BC9B;
}

.aqua {
  background-color: #4FC1E9;
  border-color: #3BAFDA;
  color: #3BAFDA;
}

.bluejeans {
  background-color: #5D9CEC;
  border-color: #4A89DC;
  color: #4A89DC;
}

.lavender {
  background-color: #AC92EC;
  border-color: #967ADC;
  color: #967ADC;
}

.pinkrose {
  background-color: #EC87C0;
  border-color: #D770AD;
  color: #D770AD;
}

.lightgray {
  background-color: #F5F7FA;
  border-color: #E6E9ED;
  color: #E6E9ED;
}

.mediumgray {
  background-color: #CCD1D9;
  border-color: #AAB2BD;
  color: #AAB2BD;
}

.darkgray {
  background-color: #656D78;
  border-color: #434A54;
  color: #434A54;
}

/***Colorpicker **/

.note-remainder, .note-list, .note-default-image, .note-colorpicker,
.note-tile-trash, .note-tile-colorpicker, .note-tile-remainder,
.note-tile-archive, .align-justify, .note-list-view, .note-grid-view,
.notes-home, .note-archive, .note-trash {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.note-remainder {
  background: url("/images/sticky-notes-sprite.png")  0px 0px no-repeat transparent;
  margin-left: 0px;
}

.note-colorpicker {
  background: url("/images/sticky-notes-sprite.png") -30px 0px no-repeat transparent;
}

.note-default-image {
  background: url("/images/sticky-notes-sprite.png") -58px 0px no-repeat transparent;
}

.note-list {
  background: url("/images/sticky-notes-sprite.png") -86px 0px no-repeat transparent;
}

.note-tile-remainder {
  background: url("/images/sticky-notes-sprite.png")  -112px 0px no-repeat transparent;
  margin: 10px;
}

.note-tile-colorpicker {
  background: url("/images/sticky-notes-sprite.png")  -142px 0px no-repeat transparent;
  margin: 10px;
}

.note-tile-archive {
  background: url("/images/sticky-notes-sprite.png")  -200px 0px no-repeat transparent;
  margin: 10px;
}

.note-tile-trash {
  background: url("/images/sticky-notes-sprite.png")  -230px 0px no-repeat transparent;
  margin-left: 0px;
}

.align-justify {
  background: url("/images/sticky-notes-sprite.png")  -258px 0px no-repeat transparent;
}

.note-list-view {
  background: url("/images/sticky-notes-sprite.png")  -316px 0px no-repeat transparent;
  margin-left: 0px;
}

.note-grid-view {
  background: url("/images/sticky-notes-sprite.png")  -344px 0px no-repeat transparent;
  margin-left: 0px;
}

.notes-home {
  background: url("/images/sticky-notes-sprite.png")  -288px 0px no-repeat transparent;
  margin-left: 0px;
}

.note-archive {
  background: url("/images/sticky-notes-sprite.png")  -344px 0px no-repeat transparent;
  margin-left: 0px;
}

.note-trash {
  background: url("/images/sticky-notes-sprite.png")  -374px 0px no-repeat transparent;
  margin-left: 0px;
}

.note-colorpicker:hover div.palette, .note-tile-colorpicker:hover div.palette {
  opacity: 1;
  -webkit-transition-duration: .218s;
  transition-duration: .318s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}






