<div class="inner-views">
	<div class="note" ng-repeat="note in notes track by $index" ng-class="note.color">
	  <div class="note-body" data-toggle="modal" data-target="#editNote" ng-click="prepareModal($index)">
	  	<div class="note-title">
		  	{{note.title}}
		  </div>
		  <div ng-show="note.type == 'Note'" class="note-data">
		  	{{note.data}} 
		  </div>
		  <div ng-show="note.type == 'ListNote'" class="note-data">
		  	<div ng-repeat="list in note.data track by $index">
		  		<span class="{{list.selected}}"><input type="checkbox" ng-model="list.selected">  {{list.value}} </span>	 
		  	</div>
		  </div>
	  </div>
	  <div class="note-footer">
	    <select ng-model="note.color" ng-change="updateNotes()" class="pull-left" ng-options="col as col for col in colors">
   		</select>
			<a ng-click="deleteNote($index)" class="pull-right"><span class="glyphicon glyphicon-trash"></span></a>
	  </div>
	</div>
</div>

<div class="modal fade" id="editNote" tabindex="-1" role="dialog" aria-labelledby="editNoteLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" ng-class="color">
      <div class="modal-header">
        <button type="button" class="close" ng-click="clearValues()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <add-note></add-note>
      </div>
    </div>
  </div>
</div>