<div class="add-note" ng-class="color">
    <div class="add-note-inner">
        <div class="container">
            <div class="fileinput fileinput-new" data-provides="fileinput" data-ng-show="isImageNote">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                    <img ng-src="{{noteImg}}"></img>
                </div>
                <div>
                    <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..." id="test"></span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
            </div>
            <div class="note-title"><input type="text" class="note-title-input" ng-model="title" placeholder="Title"/></div>
            <div class="note-data" data-ng-hide="addListNote"><input type="text" class="note-data-input" ng-model="addNote" placeholder="Add Note"/></div>
            <div class="note-data" data-ng-show="addListNote"  ng-repeat="list in newList track by $index">
                <input type="checkbox" ng-model="list.selected"/><span style="padding-left: 5px"><input type="text" style="width: 450px; border: none; outline: none;" class="{{list.selected}}" ng-model="list.value" placeholder="Add List Note"/></span>
                <span ng-click="removeList($index)" class="glyphicon glyphicon-remove"></span>
            </div>
        </div>
        <div class="add-note-footer">
            <div class="add-note-footer-inner">
            <span class="pull-left add-note-footer-toolbar">
                <a ng-click="toggleList()"><span class="glyphicon glyphicon-th-list"></span></a>
                <select  style="padding-left: 10px" ng-model="color" ng-options="col for col in colors"></select>
                <a ng-click="toggleImage()"><span style="padding-left: 10px"  class="glyphicon glyphicon-picture"></span></a>
            </span>
            <span class="note-interface-pull-right">
                <button class="add-note-button btn btn-default btn-xs" ng-click="createNote()" data-dismiss="modal">Done</button>
            </span>
            </div>
        </div>
    </div>
</div>