<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#" id="side" ng-mouseover="showHideSideBar()"><span class="glyphicon glyphicon-align-justify"></span></a></li>
                <li><a class="navbar-brand" href="#">StickyNotes</a></li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">All notes saved</a></li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-list" ng-click="changeView('listview')"></span></a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-th-large" ng-click="changeView('gridview')"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>